<div class="grid_5 indent-20">
	<%= label_tag "Preview" %> <br />
	<div class="testimonial">
		<div class="grid5-top">&nbsp;</div>
		<div class="grid5-middle" class="middle"><p><%= @testimonial.quote %></p></div>
		<div class="testimonial-bottom"></div>
		<span class="name"><%= @testimonial.name %></span>
		<span class="location">in <%= @testimonial.location %></span>
	</div>
</div>