<div id="col3">
<div class="testimonial"><h1>Preview</h1>
	<div class="testimonial-top">&nbsp;</div>
	<div class="testimonial-quote"><%= textilize (@testimonial.quote) %></div>
	<div class="testimonial-bottom"></div>
	<div class="name"><%= @testimonial.name %></div>
	<div class="location"><%= @testimonial.location %></div>
</div>
</div>
