<% for testimonial in @testimonials %>
	<div class="grid_5">
		<div class="testimonial">
			<div class="top">&nbsp;</div>
			<div class="middle"><p><%= testimonial.quote %></p></div>
			<div class="bottom"></div>
			<span class="name"><%= testimonial.name %></span>
			<span class="location">in <%= testimonial.location %></span>
		</div>
	</div>
<% end %>