<div id="sidebar">
	<h1><%= link_to 'Services', account_service_path(@account, @services.first) %></h1>
		<ul>
			<% for service in @services %>
				<li><%= layout_link_to service.title, account_service_path(@account, service) %></li>
			<% end %>
		</ul>
</div>