<div id="sidebar" class="grid_4">
	<h1>Services</h1>
	<ul><% for service in @services %>
		<%= textilize(link_for service.title, service_path(params[:region], 
			params[:accountlink], service.servicelink), "") %>
		<% end %>
	</ul>
</div>
