<div id="welcome">
	You've Experienced the Rest Now Experience the Best!</div>

<div id="grid16-top-sidebar">&nbsp;</div>

<div id="grid16-middle-sidebar">
	<%= render :partial => 'sidebar' %>
	<div id="service"></div>
	<div class="clearfix"></div>
</div>
<div id="grid16-bottom-sidebar">&nbsp;</div>

<div id="cards">
	<%= render :partial => "shared/cards" %>
</div>
