<div id="welcome">
	Welcome to Heaven's Best Carpet Cleaning!</div>

<div id="grid14-top" class="indent70">&nbsp;</div>

<div id="grid14-middle" class="indent70">
	<%= render :partial => 'sidebar' %>
	<div id="service"></div>
	<div class="clearfix"></div>
</div>
<div id="grid14-bottom" class="indent70">&nbsp;</div>

<div id="cards">
	<%= render :partial => "shared/cards" %>
</div>
