<div id="welcome">
	Welcome to Heaven's Best Carpet Cleaning!</div>

<div id="grid14-top" class="indent70">&nbsp;</div>

<div id="grid14-middle" class="indent70">
	<%= render :partial => 'sidebar' %>
	<div id="service">
		<div id="text" class="grid_5"><%= simple_format(@service.body) %></div>
		<img class="grid_5" src="/images/content/furniture/testcouch.jpg">
	</div>
	<div class="clearfix"></div>
</div>
<div id="grid14-bottom" class="indent70">&nbsp;</div>

<% render :partial => "shared/cards"%>