<div id="welcome">
	You've experienced the rest now experience the Best!</div>

<div id="grid16-top-sidebar" class="indent10">&nbsp;</div>

<div id="grid16-middle-sidebar" class="indent10">
	<%= render :partial => 'sidebar' %>
	<div id="service" class="grid_11">
		<%= textilize(@service.body) %>
		<%= image_tag @service.photo.image.url if @service.photo %>
	</div>
	<div class="clearfix"></div>
</div>
<div id="grid16-bottom-sidebar" class="indent10">&nbsp;</div>
<div class="clear"></div>


<div id="cards">
	<%= render :partial => "shared/cards" %>
</div>

<div class="clear"></div>
