<div id="welcome">
	Welcome to Heaven's Best Carpet Cleaning!</div>

<div id="content">
	<%= render :partial => 'sidebar' %>
	<div id="service">
		<div id="text" class="grid_5"><%= simple_format(@service.body) %></div>
		<img class="grid_5" src="/images/content/furniture/testcouch.jpg">
	</div>
	<div class="clearfix">&nbsp;</div>		
</div>
