<% title "New Page" %>

<% form_for([:admin, @page]) do |f| %>
	<%= render :partial => @page, :locals => { :f => f } %>
	<%= image_submit_tag("/images/buttons/save.png", :class => 'button' ) %>
  	
<% end %>
	
<p><%= link_to "Back to List", admin_pages_path %></p>
