<div id ="col3"> 
	<h3>Preview</h3>
<div class="special">
	<div class="special1_small">
		<div class="specialcontent"><%= simple_format (@special.body) %>
			<label class="special-phone"><%= number_to_phone(@special.phone) %></label></div>
		<div class="specialfooter">
			<span style="float:left">www.heavensbest.us</span>
			<span style="float:right">Expires <%= @special.end.to_s(:long) %></span>
		</div>
	</div>
</div>
</div>