<div class="grid_6">
	<div class="special">
		<div>Printable coupon</div>
		<div class="logo">&nbsp;</div>
		
		<div class="content">
			<div class="title"><%= special.title %></div>
			<p><%= simple_format (special.body) %></p>
			<div class="phone"><%= number_to_phone(special.phone) %></div>
		</div>
		
		<div class="footer">
				<span style="float:left">www.heavensbest.us</span>
				<span style="float:right">Expires <%= special.end.to_s(:long) %></span>
		</div>
	</div>
</div>