<div id="content" class="blur">
	<%= render :partial => 'sidebar' %>
	<div id="text" class="grid_5"><%= textilize(@service.body) %></div>
	<div class="grid_5"><%= image_tag @service.photo.image.url if @service.photo %> </div>
	
</div>

<div class="clear"></div>
<%= render :partial => @service %>

