<div id="content" class="blur">
	<%= render :partial => 'sidebar' %>
	<div id="text" class="grid_5"><%= textilize(@service.body) %></div>
	<img class="grid_5" src="/images/content/furniture/testcouch.jpg">
</div>

<div class="clear"></div>
<%= render :partial => @service %>

