<div class="clear"></div>
<div id="grid14-top">&nbsp;</div>

<div id="grid14-middle">
	<%= render :partial => 'sidebar' %>
	<div id="service"></div>
	<div class="clear"></div>
</div>

<div id="grid14-bottom">&nbsp;</div>

<%= render :partial => @service %>
