<div class="clear"></div>
<div id="grid14-top" class="indent10">&nbsp;</div>

<div id="grid14-middle" class="indent10">
	<%= render :partial => 'sidebar' %>
	<div id="service"></div>
	<div class="clear"></div>
</div>

<div id="grid14-bottom" class="indent10">&nbsp;</div>

<%= render :partial => @service %>
