<div id="content" class="blur">
	<%= render :partial => 'sidebar' %>
	<div id="service">
		<div id="text" class="grid_5"><%= simple_format(@service.body) %></div>
		<img class="grid_5" src="/images/content/furniture/testcouch.jpg">
	</div>
</div>
