img, div { behavior: url(/stylesheets/iepngfix.htc) }

/*#admin_logo { background: url(/images/logos/HB_small.gif) no-repeat;}
*/
#header { background: url(/images/nav/admin_header.gif) no-repeat;}

#p-header {	background: url(/images/nav/header.gif) no-repeat;}

#tab_nav li a, #tab_nav { background-image: url(/images/nav/operator_tabs.gif); background-repeat: no-repeat; }
#operator_menubar li a { background-image: url(/images/nav/operator_menubar.gif); background-repeat: no-repeat;}
#home_menubar li a { background-image: url(/images/nav/home_menubar.gif); background-repeat: no-repeat;}
#area_menubar li a { background-image: url(/images/nav/area_menubar.gif); background-repeat: no-repeat;}

.special .text { width: 180px; }

.clearfix {height:1px;}

#sidebar li { display: inline; }

#homepage, #sidebar { height: 400px;}

.special .logo { background: url(/images/logos/HB_small.gif) no-repeat; }

#contact { right: 5px; }

#sidebar {
	margin-left: 7px;
	width: 221px;
}

#sidebar h1 {
	position:relative;
	padding-top: 10px;
}

#grid5-middle {	margin-top: -3px; }

select { margin-bottom: 0px;}