/*Colors:
	Dark Blue:	0069AA	(links, input borders,)
	Baby Blue:	508FC1
	Light Blue: c4d8ff
	White Blue: f1f5fa
	Global Red: ED1C24
	Dark Red:	C32127	(h2, )
	Smoke:		BCBEC0	(?)
*/	
	

/* @group Basics */

body {
	color: #595959;
	font: 12px/14px Helvetica, Arial, Verdana, sans-serif;
}

h1 {
	font: 18px/20px Helvetica, Arial, Verdana, sans-serif;
	/*font-weight: bold;*/
	color: #C32127;
	padding-bottom: 15px;
}
 
h2 {
	font: 14px/16px Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	padding-bottom: 10px;
}
 
q {
	font-style: italic;
}

.email {
	color: #595959;
	text-transform: none;
}

a {
	color: #0069AA;
	text-decoration: none;
} 

.link {
	text-decoration: underline;
}

.attribute {
	display: inline-block;
}

.left {
	float: left;
}

.right {
	float: right;
	display: inline;
}

.center {
	text-align: center;
}

.hide {
	display: none;
}

.codedirection { 
	unicode-bidi: bidi-override; 
	direction: rtl; 
}

/* @end */

/* @group Forms */

/* LiveValidation classes */

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 2px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 2px solid #CC0000;
}

.fieldWithErrors {
	display: inline;
}

.fieldWithErrors label {
	color: #ba0c0b;
}

.accept {
	float: none;
}

.hint {
    border: 1px solid #0069AA;
    width: 170px;
    padding: 10px 12px;
    background: #c3dafd url(/images/signup/pointer.gif) no-repeat -10px 5px;
	display: none;
	position: absolute;
	left: 400px;
	font-size: 14px;
	line-height: 18px;
}

.hint_wide {
	width: 325px;
	left: 425px;

}

.hint .pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url(/images/signup/pointer.gif) left top no-repeat;
}

/* Error Messages */
.errorExplanation {
	color: #ba0c0b;
	margin-bottom: 15px;
}

.errorExplanation li {
	list-style-type: disc;
	list-style-position: inside;
}

.onehundred {
	width: 100px;
	float: left;	
}

.onetwentyfive {
	width: 125px;
	float: left;	
}

.twohundred {
	width: 200px;
	float: left;
}

.up10 {
	display: inline;
	position: relative;
	top: -10px;
}

fieldset label {
	width: 125px;
	float: left;
}

fieldset #login_box {
	width: 500px;
}

fieldset #login_box label {
	padding-top: 6px;
}

fieldset #login_box form {
	padding: 15px;
}

fieldset #login_box li {
	margin-bottom: 1em;
}


.select_menu {
	width: 180px;
}

select {
	font-size: 14px;
	font-weight: normal;
	border: 0 solid white;
	padding: 2;
	background-color: #666;
	color: white;
	margin-bottom: 10px;
}

input, textarea {
	border: 2px solid #999;
	background-color: #ffffff;
	color: #595959;
	font: 16px Helvetica, Arial, Verdana, sans-serif;
	margin-bottom: 10px;
}
 
input:hover, textarea:hover,
input:focus, textarea:focus {
	border: 2px solid #0069AA;
}

 
label {
	font: 14px/16px Helvetica, Arial, Verdana, sans-serif;
	color: #7f7f7f;
}
 

.button, .button:hover {
	border: none;
	margin-bottom: 0px;
}

.rightbutton {
	border: none;
	padding: 2px;
 }
 
 

/* @end */

/* @group Header styles */
.logo {
	width: 160px;
	height: 150px;
}

.logo a {
	padding-right: 150px;
	padding-bottom: 130px;
}

#admin_logo {
	margin-top: 8px;
	margin-left: 20px;
	height: 120px;
	background: url(/images/logos/HB_small.png) no-repeat;
	z-index: 1;
}

#admin_logo a {
	padding-right: 120px;
	padding-bottom: 110px;
}

#header {
	height: 140px;
	background: url(/images/nav/admin_header.png) no-repeat;
	position: relative;
}

#p-header {
	height: 160px;
	width: 965px;
	background: url(/images/nav/header.png) no-repeat;
	margin-bottom: 10px;
}

.arealink {
	position: absolute;
	top: 43px;
	right: 20px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

#contact {
	color: #fff;
	position: absolute;
	right: 0px;
	top: 10px;
}

#contact .phone {
	font: 28px/40px Helvetica, Arial, Verdana, sans-serif;
}

#contact .name {
	font: 18px/22px Helvetica, Arial, Verdana, sans-serif;
}

#contact .email {
 	font: 16px/16px Helvetica, Arial, Verdana, sans-serif;
	color: #fff;
}

#contact .email a {
	color: #fff;
	text-decoration: underline;
}

#welcome {
	font: 28px/36px Helvetica, Arial, Verdana, sans-serif;
	position: absolute;
	text-align: center;
	width: 900px;
	top: 115px;
	left: 70px;
}

#welcome h1 {
	font: 28px/36px Helvetica, Arial, Verdana, sans-serif;
	color: #595959;	
}

/* @end */

/* @group Content */

#homepage img {
	width: 300px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#homepage {
	min-height: 400px;
}

#homepage h2 {
	font: 18px/20px Helvetica, Arial, Verdana, sans-serif;
	color: #C32127;
	padding-bottom: 15px;
}

#homepage p {
	font-size: 14px;
	line-height: 20px;
}

#admin-left-content {
	width: 74%;
	float: left;
	border: 2px double #7ba3fd;
}

#admin-right-content {
	width: 24%;
	float: right;
	border: 2px double #7ba3fd;
}

.text-content {
	padding: 25px;
}

.indent70 {
	position: relative;
	left: 77px;
}

.indent10 {
	position: relative;
	left: 10px;
}

.indent20 {
	position: relative;
	left: 20px;
}

.indent-10 {
	position: relative;
	left: -10px;
}

.indent-20 {
	position: relative;
	left: -20px;
}

.grid5-top {
	background: url(/images/content/280-top.jpg) no-repeat;
	height: 15px;
}

.grid5-middle {
	background: url(/images/content/280-middle.jpg) repeat-y;
	height: 100%;
	margin-top: -3px;
}

.grid5-bottom {
	background: url(/images/content/280-bottom.jpg) no-repeat;
	height: 15px;
}

#grid8-top {
	background: url(/images/content/460-top.jpg) no-repeat;
	height: 15px;
}

#grid8-middle {
	background: url(/images/content/460-middle.jpg) repeat-y;
	height: 100%;
}

#grid8-bottom {
	background: url(/images/content/460-bottom.jpg) no-repeat;
	height: 15px;
}

#grid12-top {
	background: url(/images/content/640-top.jpg) no-repeat;
	height: 15px;
	width: 640px;
}

#grid12-middle {
	background: url(/images/content/640-middle.jpg) repeat-y;
	width: 640px;
	height: 100%;
}

#grid12-bottom {
	background: url(/images/content/640-bottom.jpg) no-repeat;
	height: 15px;
	width: 640px;
}

#grid14-top {
	background: url(/images/content/890-top.jpg) no-repeat;
	height: 15px;
}

#grid14-middle {
	background: url(/images/content/890-middle.jpg) repeat-y;
	height: 100%;
}

#grid14-bottom {
	background: url(/images/content/890-bottom.jpg) no-repeat;
	height: 20px;
	height: 100%;
}

#grid16-top {
	background: url(/images/content/940-top.jpg) no-repeat;
	height: 15px;
}

#grid16-middle {
	background: url(/images/content/940-middle.jpg) repeat-y;
	height: 100%;
}

#grid16-bottom {
	background: url(/images/content/940-bottom.jpg) no-repeat;
	height: 20px;
}

#grid16-top-sidebar {
	background: url(/images/content/940-top-sidebar.jpg) no-repeat;
	height: 15px;
}

#grid16-middle-sidebar {
	background: url(/images/content/940-middle-sidebar.jpg) repeat-y;
	height: 100%;
}

#grid16-bottom-sidebar {
	background: url(/images/content/940-bottom-sidebar.jpg) no-repeat;
	height: 15px;
}

.area label {
	width: 125px;
	float: left;
}

.area {
	font-size: 13px;
	padding-left: 15px;
}

.area a {
	font-size: 14px;
	line-height: 30px;
}

.grid_5 h1 {
	text-align: center;
}

/* @end */

.users {
	font-size: 14px;
	line-height: 18px;
}

.users select {
	margin-bottom: 0px;
}

.users a {
	color: #666;
	font-size: 14px;
}

/* @group Autocomplete */
div.auto_complete {
	background: #fff;
}

div.auto_complete ul {
	margin: 2px;
	padding: 0px;
	width: 98%;
	list-style-type: none;
}

div.auto_complete ul li {
	margin: 1px 0px;
	padding: 0px;
	background-color: #0069AA;
	border: 3px solid #fff;
}

div.auto_complete ul li.selected {
	background-color: #1684ca;
	border: 3px solid #79b5e2;
}

div.auto_complete ul strong.highlight {
	background-color: #1684ca;
	margin:0;
	padding:0;
}

div.auto_complete ul li a	{
	display: block;
	padding: 7px;
	color: white;
	font: bold 18px Helvetica, Arial, Verdana, sans-serif;
}
/* @end */
 
/* @group layouts */

#container {
	/*background-color: #fff;*/
	float: left;
	position: relative;
}

#operator {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}

.content {
	padding-left: 15px;
	padding-right: 30px;
}

.page {
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 5px;
	width: 625px;
	font-size: 14px;
	line-height: 18px;
}

.page h2 {
	padding-bottom: 5px;
	padding-top: 10px;
}

.page p {
	padding-bottom: 5px;
}

.page ul {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 15px;
	padding-bottom: 10px;
}

.page ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 30px;
	padding-bottom: 10px;
}

.page li {
	padding-bottom: 5px;
}

.middle h1 {
	text-align: center;
}

.middle p, .middle h1 {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
}

/* @end */


/* @group frontpage */

#frontpage {
}

#frontpage img {
	padding-right: 15%;
	padding-left: 15%;
}

#intro {
	height: 400px;
}

#intro p {
	font-size: 16px;
	line-height: 24px;
	padding-top: 2px;
}


/* @end */


/* @group Search */	

#search {
	height: 400px;
}

#search q {
	line-height: 14px;
}

#search h2 {
	font: 24px/32px Helvetica, Arial, Verdana, sans-serif;
}

#search #account_locations {
	font-size: 24px;
}

#search input.button {
	height: 35px;
	margin-bottom: -9px;
	display: inline;
}

/* @end */

/* @group Sidebar */	

#sidebar {
	margin-top: -8px;
	margin-bottom: 5px;
	min-height: 385px;
	margin-left: 8px;
}

#sidebar p {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#sidebar ul {
	position: relative;
	list-style-type: none;
	width:auto;
}

#sidebar li {
	text-align: left;
	margin-bottom: 1px;
	margin-top: 1px;
	margin-left: -1px;
}

#sidebar li .current {
	background-color: #bddcfe;
	margin-bottom: 1px;
	margin-top: 1px;
}

#sidebar li a {
	font-size: 14px;
	display: block;
	padding: .8em .8em .8em 1.5em;
	border-bottom: 1px solid #508FC1;
}

#sidebar li:hover {
	background-color: #eaf5fe;
	margin-bottom: 1px;
	margin-top: 1px;
}

#sidebar li.add a {
	font-weight: bold;
	text-align: center;
	background-color: #fff;
	border-style: none;
	padding-left: 0;
	padding-right: 0;
}

#sidebar h1 {
	font: bold 20px Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: none;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #1479c5;
	margin-left: -1px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
}

#sidebar h1 a {
	color: #fff;
}

.full {
background-color: #444;}

/* @end */


/* @group Services */
#service {
	padding-left: 15px;
}

#service ul {
	list-style-type: disc;
	list-style-position: outside;
	width: 350px;
	float: left;
	font-size: 14px;
	line-height: 1.5em;
	padding-left: 15px;
}

#service h3 {
	width: 350px;
	float: left;
	margin-bottom: 9px;
	font-size: 14px;
}

#service p {
	font-size: 14px;
	line-height: 20px;
	margin-top: 1px;
	margin-bottom: 9px;
}

#service h1 {
	font-size: 18px;
	line-height: 24px;
	padding-top: 5px;
	padding-bottom: 10px;
	/*font-weight: bold;*/
	color: #C32127;
}

/* @end */

/* @group Testimonials */		

.testimonial {
	font: 13px/18px Helvetica, Arial, Verdana, sans-serif;
}

.testimonial-bottom {
	height: 24px;
	background: url(/images/content/testimonial-bottom.jpg) no-repeat;
	text-align: center;
}

.testimonial p {
	padding-right: 15px;
	padding-left: 15px;
}

.testimonial .name {
	font-size: 15px;
	padding-left: 10px;
	color: #0069AA;
}

/* @end */

/* @group tips */

#tip {
	position: relative;
	width: 720px;
	float: left;
	left: 25px;
}

#new_tip, .edit_tip {
	float: right;
	position: relative;
}

#tips {
	height: 160px;
	background: url(/images/content/tip_box.jpg) no-repeat;
}

#tips h2 {
	font: bold 18px/20px "Lucida Grande", Arial, Verdana, sans-serif;
	color: #fff;
	margin: 0;
	padding-bottom: 10px;
	text-align: center;
	/*background-color: #ac0908;*/
	padding-top: 10px;
}

#tips ul {
	padding: 5px 10px 10px 30px;
}

#tips li {
	list-style-type: disc;
	list-style-position: outside;
	margin-bottom: 4px;
	font-size: 14px;
}

#tips p {
	font-size: 14px;
	line-height: 16px;
	padding: 8px 15px;
}

/* @end */


#cards {
	margin-top: 10px;
	height: 160px;
}

#testimonial {
	height: 160px;
}

#ad {
	height: 160px;
	/*background-color: #b4d5ff;*/
}

.ad {
	height: 160px;
	position: relative;
	text-align: center;
	background: url(/images/content/ad.jpg);
}

.ad a {
	padding: 0 165px 140px;
}

.ad h2 {
	font: bold 24px/30px Helvetica, Arial, Verdana, sans-serif;
	color: #C32127;
	padding-top: 10px;
}

.ad p {
	font: 18px/24px Helvetica, Arial, Verdana, sans-serif;
	color: #595959
}

.ad .footer {
	font: bold 14px/18px Helvetica, Arial, Verdana, sans-serif;
	color: #0069AA;
	width: 340px;
	position: absolute;
	bottom: 10px;
	left: 0px;
}

.special {
	height: 160px;
	position: relative;
	text-align: center;
	background: url(/images/content/ad.jpg);
}
.special .print {
	padding-top: 5px;
	font-size: 10px;
}

.special .logo {
	float: left;
	width: 130px;
	height: 130px;
	position: relative;
	background: url(/images/logos/HB_small.png) no-repeat;
	margin-left: 10px;
	margin-top: -5px;
}

.special .text {
	float: left;
	width: 190px;
	height: 110px;
	position: relative;
	padding-left: 0;
}

.special .title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 5px;
}

.special p {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
}

.special .phone {
	color: #C32127;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 190px
;}
.special .footer {
	left: 15px;
	right: 15px;
	/*color: #0069AA;*/
	position: absolute;
	bottom: 10px;
}

.notice {
	color: #C32127;
	text-align: center;
	font: bold 14px Helvetica, Arial, Verdana, sans-serif;
	margin-right: auto;
	margin-left: auto;
}

hr {
	border: 1px solid #0069AA;
}

div.clearallrule {
	clear: both;
	margin: 25px 0;
	border-bottom: 2px solid #efefef;
}

/* @group Subscription table */

#plans {
	float: right;
}

/* @end */



/* @group Footer */
#footer {
	height: 30px;
	color: #7e7e7e;
	font-size: 1em;
	position: relative;
	margin-top: 10px;
}

#footer a {
	color: #7e7e7e;
	text-decoration: underline;
}

#footer a img {
	float: right;
}

/* @end */


/* @group Signup */
#siteseal {
	position: absolute;
	left: 425px;
}

.plan {
    width: 475px;
	position: absolute;
	left: 490px;
	display: none;
}

.plan thead th {
	background: #1685d8;
	color: white;
	font-size: 1.25em;
	width: 80px;
}

.plan th {
	font-size: 1.25em;
	padding: 7px 5px 7px 10px;
	width: 175px;
}

.plan td {
	font-weight: bold;
	font-size: 1.05em;
}

.plan .even, .plan .even th {
	background: #dfedf9;
	color: #595959;
}

.plan table {
	border: 2px solid #1685d8;
}

.plan td {
	vertical-align: middle;
	padding: .25em;
}				

thead th {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	line-height: 1.5em;
}

legend {
	font: 16px/18px Helvetica, Arial, Verdana, sans-serif;
	color: #0069AA;
	text-transform: none;
	display: inline;
}

fieldset {
	/*border-bottom: 2px solid #b2b2b2;*/
	/*background-color: #dfedf9;*/
	width: 500px;
	position: relative;
	margin-left: 15px;
	padding-top: 10px;
	margin-top: 15px;
}

fieldset p {
	width: 400px;
}


fieldset select {
	/*font-size: 14px;*/
	background-color: #666;
	/*color: fff;*/
	/*margin-bottom: .5em;*/
}

#new_password fieldset {
	width: 380px;
	margin: auto;
}

#login_box {
	position: relative;
	width: 430px;
	padding-top: 0px;
	margin: 0px 15px 0;
}

#login_box form {
	width: 280px;
	margin: auto;
}


#login_box .remember {
	width: 100px;	
}

/* @end */


/* @group Fixes and hacks */
.clear {
	clear: both;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */

#submit_or_cancel {
	margin-top: 1em;
}