
/*Colors:
	Dark Blue:	0069AA	(links, input borders,)
	Baby Blue:	508FC1
	Light Blue: c4d8ff
	White Blue: f1f5fa
	Global Red: ED1C24
	Dark Red:	C32127	(h2, )
	Smoke:		BCBEC0	(?)
*/	
	
/* definition lists */ 
/*dl {
}
 
dt {
	width: 80px;
	float: left;
	font-size: 13px;
	padding-top: .65em;
}
 
dd {
	padding-bottom: 10px;
	padding-left: 40px;
}*/

/* @group Basics */

body {
	color: #595959;
	font: 12px/14px Helvetica, Arial, Verdana, sans-serif;
}

h1 {
	font: 14px/16px Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	color: #C32127;
	padding-bottom: 15px;
}
 
h2 {
	font: 14px/16px Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
	color: 0069AA;
	padding-bottom: 10px;
}
 
q {
	font-style: italic;
}

.email {
	color: #595959;
	text-transform: none;
}

a {
	color: #0069AA;
	text-decoration: none;
} 


.attribute {
	display: inline-block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.hide {
	display: none;
}

/* @end */

/* @group Forms */

.hint {
    border: 1px solid #0069AA;
    width: 200px;
    padding: 10px 12px;
    background: #d6e8fe url(/images/signup/pointer.gif) no-repeat -10px 5px;
	display: none;
	position: absolute;
	left: 455px;
}

/* The pointer image is added by using another span */
.hint .pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url(/images/signup/pointer.gif) left top no-repeat;
}

.onehundred {
	width: 100px;
	float: left;	
}

.onetwentyfive {
	width: 125px;
	float: left;	
}

.twohundred {
	width: 200px;
	float: left;
}

#content form {
	/*float: left;*/
}

fieldset label {
	/*font-weight: bold;*/
	/*margin: .25em 0 .25em*/;
	width: 125px;
	/*position: relative;*/
	float: left;
}

#login_box {
	width: 487px;
	height: 225px;
	margin: 5em auto 5em;
	background: url(/images/content/login_box.png) no-repeat;
	padding-top: 75px;
	padding-left: 0;
}

#login_box label {
	display: inline;
	width: 90px;
}

#login_box form {
	margin-left: 90px;
}

#login_box input#remember_me {
	margin-top: 4px;
}

#login_box input {
	margin-bottom: 0.25em;
}

.remember {
	font-size: 1em;
}

#login_error {
	margin-bottom: 5px;
	margin-left: 160px;
}

.select_menu {
	width: 180px;
}

select {
	font-size: 14px;
	font-weight: normal;
	border: 0 solid white;
	padding: 2;
	background-color: #cc0d0c;
	color: white;
}

input, textarea {
	border: 2px solid #999;
	background-color: #ffffff;
	color: #595959;
	font: 18px Helvetica, Arial, Verdana, sans-serif;
	/*margin-bottom: 10px;*/
}
 
input:hover, textarea:hover,
input:focus, textarea:focus {
	border: 2px solid #0069AA;
}

 
label {
	font: 14px/16px Helvetica, Arial, Verdana, sans-serif;
	color: #7f7f7f;
}
 

.button, .button:hover {
	border: none;
	/*padding: 2px;
	position: relative;
	top: 3px;*/
}

.rightbutton {
	border: none;
	padding: 2px;
 }

/* @end */

/* @group Header styles */
#admin_logo {
	margin-top: 15px;
	margin-left: 20px;
	/*width: 129px;*/
	height: 140px;
	background: url(/images/logos/HB_small.png) no-repeat;
	z-index: 1;
}

#header {
	height: 170px;
	background: url(/images/navigation/operator.gif) no-repeat;
}

#p-header {
	height: 171px;
	background: url(/images/navigation/public.png) no-repeat;
}

#contact {
	float: right;
	color: white;
	position: absolute;
	right: 50px;
	top: 15px;
}

#contact .phone {
	float: right;
	font: 30px/40px Helvetica, Arial, Verdana, sans-serif;
}

#contact .name {
	font: 16px/22px Helvetica, Arial, Verdana, sans-serif;
}

#contact .title {
	font: 14px/18px Helvetica, Arial, Verdana, sans-serif;
}
#welcome {
	font: 28px/36px Helvetica, Arial, Verdana, sans-serif;
	color: 0069AA;
	position: absolute;
	top: 115px;
	width: 972px;
	text-align: center;
}

/* @end */

/* @group Content */

#homepage img {
	width: 300px;
	padding-left: 50px;
	padding-right: 50px;
}
#homepage {
	height: 400px;
}

#admin-left-content {
	width: 74%;
	float: left;
	border: 2px double #7ba3fd;
}

#admin-right-content {
	width: 24%;
	float: right;
	border: 2px double #7ba3fd;
}

.text-content {
	padding: 25px;
}

/* @end */


/* @group Autocomplete */
div.auto_complete ul{   
	margin: 5px;
	padding: 0px;
	width: 95%;
	list-style-type: none;
}   
	
div.auto_complete ul li {   
	list-style: none; 
	margin: 2px 0px;
	padding: 0px;
	background-color: #0069AA;
}   
	
div.auto_complete ul li.selected {   
	background-color: #0069AA;
}   

div.auto_complete ul li a:hover {   
	background-color: #1684ca;
}   

div.auto_complete ul li a	{
	display: block;
	padding: 5px;
	color: white;
	font: bold 18px Helvetica, Arial, Verdana, sans-serif;
}

div.auto_complete ul strong.highlight {   
	margin: 0px;
	padding: 0px;   
}   
/* @end */
 
/* @group layouts */

#container {
	/*background-color: #fff;*/
	float: left;
	position: relative;
}

#operator {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}

.content {
	text-align: center;
}

#content {
}

/* @end */


/* @group frontpage */

#frontpage {
}

#frontpage img {
	padding-right: 17%;
	padding-left: 17%;
}

#intro {
	height: 400px;
}

#intro p {
	font-size: 16px;
	line-height: 24px;
	padding-top: 2px;
}


/* @end */


/* @group Search */	

#search {
	height: 400px;
}

#search q {
	/*padding-left: 30px;*/
}

#search h2 {
	font: 24px/32px Helvetica, Arial, Verdana, sans-serif;
	/*padding-left: 30px;*/
}

#search #account_locations {
	font-size: 24px;
}

/* @end */

/* @group Sidebar */	

#sidebar {
	/*border: 1px solid #508FC1;*/
}

#sidebar ul {
	position: relative;
	display: inline;
}

#sidebar li {
	list-style-type: none;
	text-align: left;
	margin-bottom: 1px;
	margin-top: 1px;
}

#sidebar li .current {
	background-color: #bddcfe;
	margin-bottom: 1px;
	margin-top: 1px;
}

#sidebar li a {
	font-size: 14px;
	display: block;
	padding: .8em .8em .8em 1.5em;
	border-bottom: 1px solid #508FC1;
}

#sidebar li:hover {
	background-color: #eaf5fe;
	margin-bottom: 1px;
	margin-top: 1px;
}

#sidebar li.add a {
	font-weight: bold;
	text-align: center;
	background-color: #fff;
	border-style: none;
	padding-left: 0;
	padding-right: 0;
}

#sidebar h1 {
	color: white;
	font: 18px/20px Helvetica, Arial, Verdana, sans-serif;
	text-transform: none;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #2b86e0;
	text-align: center;
}	

#sidebar h1 a {
	color: white;
	font: 18px/20px Helvetica, Arial, Verdana, sans-serif;
}
/* @end */


/* @group Services */

#service p {
	font-size: 14px;
	line-height: 20px;
}

#service h2 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #C32127;
}

/* @end */

/* @group Testimonials */		

.testimonial {
	font: 13px/18px Helvetica, Arial, Verdana, sans-serif;
}

.testimonial-top {
	background: url(/images/content/testimonial-top.png) no-repeat;
}	
	
.testimonial-quote {
	background: url(/images/content/testimonial-middle.png) repeat-y;
	margin-top: -5px;
	padding-top: 3px;
	padding-bottom: 3px;
}	

.testimonial p {
	/*text-align: left;*/
	/*margin-top: 0;*/
	margin-left: 20px;
	margin-right: 20px;
}
.testimonial-bottom {
	height: 32px;
	background: url(/images/content/testimonial-bottom.png) no-repeat;
	/*text-align: center;*/
	/*margin-top: -5px;*/
}	

.testimonial .name {
	font-size: 15px;
	padding-left: 10px;
	color: #0069AA;
}

/* @end */

/* @group tips */

#tip {
	position: relative;
	width: 720px;
	float: left;
	left: 25px;

}

#new_tip, .edit_tip {
	float: right;
	position: relative;
}

#tips {
	height: 160px;
	/*background: url(/images/content/card_tips.gif) no-repeat;*/
}

#tips h2 {
	font: bold 18px/20px "Lucida Grande", Arial, Verdana, sans-serif;
	color: #fff;
	margin: 0;
	padding-bottom: 10px;
	text-align: center;
	background-color: #ac0908;
	padding-top: 7px;
}

#tips ul {
	padding: 10px 10px 10px 25px;
}

#tips li {
	list-style-type: disc;
	list-style-position: outside;
}

#tips p {
	font-size: 13px;
	line-height: 16px;
	padding: 8px 8px 8px 10px;
}

/* @end */


#cards {
}

#testimonial {
	height: 160px;
}

#ad {
	height: 160px;
	background-color: #2c86fd;
}

.special {
	height: 160px;
	position: relative;
}
.special .logo {
	float: left;
	width: 130px;
	height: 130px;
	position: relative;
	background: url(/images/logos/HB_small.png) no-repeat;
}

.special .content {
	float: right;
	width: 210px;
	height: 125px;
	position: relative;
}

.special .title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
	text-align: center;
	padding-top: 5px;
}

.special p {
	text-align: center;
	font-size: 14px;
	line-height: 18px;
}

.special .phone {
	color: #C32127;
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	margin-left: 25%;
}
.special .footer {
	left: 25px;
	right: 25px;
	/*color: #0069AA;*/
	position: absolute;
	bottom: 0px;
}

.notice {
	color: #C32127;
	text-align: center;
	font: bold 14px Helvetica, Arial, Verdana, sans-serif;
}

hr {
	border: 1px solid #0069AA;
}

div.clearallrule {
	clear: both;
	margin: 25px 0;
	border-bottom: 2px solid #efefef;
}

/* @group Subscription table */

#plans {
	float: right;
}

/* @end */



/* @group Footer */
#footer {
	height: 40px;
	color: #7e7e7e;
	font-size: 1em;
	position: relative;
	margin-top: 10px;
}

#footer a img {
	float: right;
}

/* @end */


/* @group Signup */

.plan {
    width: 475px;
	position: absolute;
	left: 490px;
	display: none;
}

.plan thead th {
	background: #1685d8;
	color: white;
	font-size: 1.25em;
	width: 80px;
}

.plan th {
	font-size: 1.25em;
	padding: 7px 5px 7px 10px;
	width: 175px;
}

.plan td {
	font-weight: bold;
	font-size: 1.05em;
}

.plan .even, .plan .even th {
	background: #dfedf9;
	color: #595959;
}

.plan table {
	border: 2px solid #1685d8;
}

.plan td {
	vertical-align: middle;
	padding: .25em;
}				

thead th {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	line-height: 1.5em;
}

legend {
	font: bold 14px/16px Helvetica, Arial, Verdana, sans-serif;
	color: #0069AA;
	text-transform: none;
}

fieldset {
	/*float: left;*/
	border-top: 2px solid #b2b2b2;
	background-color: #dfedf9;
	width: 410px;
	/*clear: left;*/
	position: relative;
	margin-bottom: 10px;
	padding: 5px 15px 5px 10px;
}

fieldset input {
	font-size: 16px;
}

fieldset select {
	/*font-size: 14px;*/
	background-color: #gray;
	/*color: fff;*/
	/*margin-bottom: .5em;*/
}
	
/* @end */


/* @group Fixes and hacks */
.clear {
	clear: both;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */

#submit_or_cancel {
	margin-top: 1em;
}