
/* Admin area select list */
#header select {
	float: right;
	position: relative;
	top:  25px;
	right: 50px;
	color: white;
}

/* @group Tabbed Navigation */

/* Public Tabbed Navigation */
#tab_nav { width: 310; margin: 18px auto; position: relative; z-index: 9998; top: 100px; right: 25px; float: right; }
#tab_nav { margin: 0px; padding: 0; }
#tab_nav li { display: inline; }
#tab_nav li a { float: left; width: 104px; height: 0; padding-top: 42px; overflow: hidden; }
#tab_nav li a.login, 
#tab_nav li a.features { width: 103px; }
#tab_nav li a, #tab_nav { background-image: url(/images/nav/operator_tabs.png); background-repeat: no-repeat; }

 /*BUTTONS*/ 
#tab_nav li a.login { background-position: 0px 0px; }
#tab_nav li a.features { background-position: -104px 0px; }
#tab_nav li a.support { background-position: -208px 0px; }

/* Hover States */
#tab_nav li a:hover.login { background-position: 0px -41px; }
#tab_nav li a:hover.features { background-position: -104px -41px; }
#tab_nav li a:hover.support { background-position: -208px -41px; }

/* Current States */
#tab_nav li a.current.login { background-position: 0px -41px; }
#tab_nav li a.current.features { background-position: -104px -41px; }
#tab_nav li a.current.support { background-position: -208px -41px; }

/* @end */

/* @group Account navigation */
#account_navigation {
	float: right;
	position: relative;
	top:  15px;
	color: white;
}
#account_navigation ul {
	list-style: none;
}
#account_navigation li {
	float: right;
}
#account_navigation a {
	display: inline;
	text-decoration: none;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
	font-weight: bold;
}
#account_navigation > ul a {width: auto;}

#account_navigation a:hover {
	text-decoration: underline;
}
/* @end */


/* @group Operator Menubar */

#operator_menubar { margin: 18px auto; z-index: 9998; position: relative; top: 40px; }
#operator_menubar { margin: 0px; padding: 0; }
#operator_menubar li { display: inline;}
#operator_menubar li a { float: left; width: 100px; height: 0px; padding-top: 35px; overflow: hidden; }
#operator_menubar li a.home, #operator_menubar li a.settings { width: 103px; }
#operator_menubar li a { background-image: url(/images/nav/operator_menubar.png); background-repeat: no-repeat;}

 /*BUTTONS*/ 
#operator_menubar li a.home { background-position: 0px 0px; }
#operator_menubar li a.services { background-position: -103px -0px; }
#operator_menubar li a.specials { background-position: -203px -0px; }
#operator_menubar li a.testimonials { background-position: -303px -0px; }
#operator_menubar li a.settings { background-position: -403px -0px; }

/* OVER STATES */
#operator_menubar li a:hover.home { background-position: 0px -35px;}
#operator_menubar li a:hover.services { background-position: -103px -35px; }
#operator_menubar li a:hover.specials { background-position: -203px -35px; }
#operator_menubar li a:hover.testimonials { background-position: -303px -35px; }
#operator_menubar li a:hover.settings { background-position: -403px -35px; }

/* PRESSED STATES */
#operator_menubar li a.current.home { background-position: 0px -70px; }
#operator_menubar li a.current.services { background-position: -103px -70px; }
#operator_menubar li a.current.specials { background-position: -203px -70px; }
#operator_menubar li a.current.testimonials { background-position: -303px -70px; }
#operator_menubar li a.current.settings { background-position: -403px -70px; }
/* @end */


/* @group Home Menubar */

#home_menubar { width: 520px; margin: 18px auto; position: absolute; z-index: 9998; top: 25px; left: 280px; }
#home_menubar { margin: 0px; padding: 0; }
#home_menubar li { display: inline;}
#home_menubar li a { float: left; width: 100px; height: 0; padding-top: 35px; overflow: hidden; }
#home_menubar li a.home, #home_menubar li a.contact { width: 103px; }
#home_menubar li a { background-image: url(/images/nav/home_menubar.png); background-repeat: no-repeat;}

 /*BUTTONS*/ 
#home_menubar li a.home { background-position: 0px 0px; }
#home_menubar li a.services { background-position: -103px 0px; }
#home_menubar li a.testimonials { background-position: -203px 0px; }
#home_menubar li a.franchising { background-position: -303px 0px; }
#home_menubar li a.contact { background-position: -403px 0px; }

/* OVER STATES */
#home_menubar li a:hover.home { background-position: 0px -35px;}
#home_menubar li a:hover.services { background-position: -103px -35px; }
#home_menubar li a:hover.testimonials { background-position: -203px -35px; }
#home_menubar li a:hover.franchising { background-position: -303px -35px; }
#home_menubar li a:hover.contact { background-position: -403px -35px; }

/* PRESSED STATES */
#home_menubar li a.current.home { background-position: 0px -70px; }
#home_menubar li a.current.services { background-position: -103px -70px; }
#home_menubar li a.current.testimonials { background-position: -203px -70px; }
#home_menubar li a.current.franchising { background-position: -303px -70px; }
#home_menubar li a.current.contact { background-position: -403px -70px; }

/* @end */

/* @group Area Menubar */

#area_menubar { margin: 18px auto; z-index: 9998; position: absolute; left: 275px; top: 25px; }
#area_menubar { margin: 0px; padding: 0; }
#area_menubar li { display: inline;}
#area_menubar li a { float: left; width: 100px; height: 0px; padding-top: 35px; overflow: hidden; }
#area_menubar li a.home, #area_menubar li a.schedule { width: 103px; }
#area_menubar li a { background-image: url(/images/nav/area_menubar.png); background-repeat: no-repeat;}

 /*BUTTONS*/ 
#area_menubar li a.home { background-position: 0px 0px; }
#area_menubar li a.services { background-position: -103px 0px; }
#area_menubar li a.specials { background-position: -203px 0px; }
#area_menubar li a.testimonials { background-position: -303px 0px; }
#area_menubar li a.schedule { background-position: -403px 0px; }

/* OVER STATES */
#area_menubar li a:hover.home, #area_menubar li a:hover.current.home { background-position: 0px -35px;}
#area_menubar li a:hover.services { background-position: -103px -35px; }
#area_menubar li a:hover.specials { background-position: -203px -35px; }
#area_menubar li a:hover.testimonials { background-position: -303px -35px; }
#area_menubar li a:hover.schedule { background-position: -403px -35px; }

/* CURRENT STATES */
#area_menubar li a.current.home { background-position: 0px 0px; }
#area_menubar li a.current.services { background-position: -103px -70px; }
#area_menubar li a.current.specials { background-position: -203px -70px; }
#area_menubar li a.current.testimonials { background-position: -303px -70px; }
#area_menubar li a.current.schedule { background-position: -403px -70px; }

/* @end */