Uh-oh!

We were unable to charge your credit card <%= @subscription.card_number %> 
<%= number_to_currency(@subscription.amount) %> for your <%= @subscription.subscription_plan.name %> plan. 

Please visit your account page to update your payment information as soon as possible. You will need to login.

http://<%= full_domain %>/login


If you have any questions about this email, please contact 
<%= APP_CONFIG[:from_email] %>.

Thank you for your business!
