<a href="http://heavensbest.com/index.php?&pr=Take_Control">
	<div class="ad">
		<h2>Take Control</h2>
		<p>Be your own boss by starting <br /> a Heaven’s Best franchise</p>
		<p class="footer">Learn more at <br /> www.heavensbest.com</p>
	</div>
</a>
