<div class="ad">
	<h2>Take Control</h2>
	<p>Be your own boss by starting <br /> a Heaven’s Best franchise</p>
	<p class="footer"><a href="http://bit.ly/y4ZE">Learn more at <br /> www.heavensbest.com</a></p>
</div>
