<div id="footer">
	<div class="grid_16 center">
		<% if !logged_in? %>
			Franchise operators interested in participating can email 
			<%= mail_to "info@heavensbest.us", "info@heavensbest.us", :encode => :hex, 
			:subject => "Please send information about www.heavensbest.us" %> for an invitation.<br /><br />
		<% end %>
		
		&#169; <%= Date.today.year %> <a href="http://www.lucidi.us">Lucidius LLC.</a> All Rights Reserved.
		<%= link_to "Terms of Service", page_path('terms') %> |
		<%= link_to "Privacy Policy", page_path('privacy') %> <br />
		<span class="center">Heaven’s Best Logo &#169; M-Co Inc. All rights reserved. Used With Permission.</span>
	</div>
</div>
