<div class="area_menubar" id="area_menubar">
	<ul>
		<%= tab_for "home", area_path(params[:region], params[:accountlink]) %>
		<%= tab_for "services", services_path(params[:region], params[:accountlink]) %>
		<%= tab_for "specials", specials_path(params[:region], params[:accountlink]) %>
		<%= tab_for "testimonials", testimonials_path(params[:region], params[:accountlink]) %>
		<% tab_for "estimate", area_path(params[:region], params[:accountlink]) %>
	</ul>
</div>
