<div id="footer">
		<div class="grid_12">
			&#169; <%= Date.today.year %> WeCan Inc. All rights reserved. 
			A service of <a href="http://www.lucidi.us">Lucidius</a>. <br />
			<%= link_to "Terms of Service", page_path('terms'), :rel => "nofollow" %> |
			<%= link_to "Privacy Policy", page_path('privacy'), :rel => "nofollow" %> 
			<% link_to "Sitemap", sitemap_url, :rel => "nofollow" %>		
		</div>

		<div class="grid_4">
			<%= link_to(image_tag("/images/buttons/operator_login.gif"), login_path, :rel => "nofollow") %>
		</div>
</div>
