<div id="footer">
		<div class="grid_12">
			HeavensBest.us is a service of <a href="http://www.lucidi.us">Lucidius</a>.
			Text and design is &#169; Lucidius LLC.<br />
			The Heaven’s Best name & logo &#169; M-Co Inc. All rights reserved. Used With Permission.
		</div>

		<div class="grid_4">
			<%= link_to(image_tag("/images/buttons/operator_login.gif"), login_path) %>
		</div>
</div>
