<div id="footer">
		<div class="grid_12">
			&#169; <%= Date.today.year %> WeCan Inc. All rights reserved. 
			A service of <a href="http://www.lucidi.us">Lucidius</a>.
		</div>

		<div class="grid_4">
			<%= link_to(image_tag("/images/buttons/operator_login.gif"), login_path) %>
		</div>
</div>
