<div id="footer">
		<div class="grid_12">
			&#169; <%= Date.today.year %> Lucidius LLC. All Rights Reserved.
			Design by <a href="http://www.lucidi.us">Lucidius</a> <br />
			Heaven’s Best Logo &#169; M-Co Inc. All rights reserved. Used With Permission.
		</div>

		<div class="grid_4">
			<%= link_to(image_tag("/images/buttons/operator_login.gif"), login_path) %>
		</div>
</div>
