<div id="tab_nav">
	<ul>
		<%= tab_for "login", signin_path %>
		<%= tab_for "support", support_path %>
		<% tab_for "faq", page_path('faq') %>
		<%= tab_for "features", page_path('features') %>		
	</ul>
</div>
