<div id="tab_nav">
	<ul>
		<%= tab_for "", login_path, 'login' %>
		<%= tab_for "", support_path, 'support' %>
		<% tab_for "", page_path('faq'), 'faq' %>
		<%= tab_for "", page_path('features'), 'features' %>
	</ul>
</div>
