<div class="account_navigation grid_10" id="account_navigation">
	<ul>
		<li><%= link_to "Logout", logout_path %></li>
		<li><%= link_to "Help", support_path %></li>
		<li><%= link_to "Profile", profile_path(current_user) %></li>
		<li><%= link_to "Areas", operator_accounts_path %></li>
	</ul>
</div>
