<div class="special">
	<div class="special1">
		<div class="specialcontent"><%= textilize (@special.body) %></div>
		<div class="specialfooter">
			<span style="float:left">www.heavensbest.us</span>
			<span style="float:right">Expires <%= @special.end.to_s(:long) %></span>
		</div>
	</div>
</div>
