<div id="content-top"></div>

<div id="content-middle">
	<%= render :partial => 'sidebar' %>
	<div id="tip">
		<%= render :partial => 'form' %>
		
		<div id="tips">
			<h2><%= @tip.title %></h2>
				<%= textilize(@tip.body) %>
		</div>
	</div>
	<div class="clearfix">&nbsp;</div>		
</div>

<div id="content-bottom"></div>


