<div class="clear"></div>
<div id="grid16-top-sidebar" class="indent10">&nbsp;</div>

<div id="grid16-middle-sidebar" class="indent10">
	<%= render :partial => 'sidebar' %>

	<%= render :partial => 'form' %>
	
	<div id="tips" class="grid_5 indent-20">
		<h2><%= @tip.title %></h2>
			<%= textilize(@tip.body) %>
	</div>
	<div class="clear"></div>
	
</div>

<div id="grid16-bottom-sidebar" class="indent10">&nbsp;</div>
