<div id="content-top"></div>

<div id="content-middle">
	<%= render :partial => 'sidebar' %>
	
	<%= render :partial => 'form' %>
	
	<div class="clearfix">&nbsp;</div>
</div>

<div id="content-bottom"></div>

