<div class="clear"></div>
<div id="grid16-top-sidebar" class="indent10">&nbsp;</div>

<div id="grid16-middle-sidebar" class="indent10">
	<%= render :partial => 'sidebar' %>

	<div id="text"  class="grid_5 indent-20"><%= simple_format(@tip.body) %></div>
	<div class="clear"></div>
</div>

<div id="grid16-bottom-sidebar" class="indent10">&nbsp;</div>
