<div class="grid_5">
	<div class="grid5-top">&nbsp;</div>
	<div class="grid5-middle" class="middle">
		<h1><%= link_to(account.name + ", ", edit_operator_account_url(account), :class => "link" ) %>
			<%= link_to(account.region.name, edit_operator_account_url(account), :class => "link" ) %></h1>
	</div>
	<div class="grid5-bottom"></div>
	<br />
</div>
