<div class="operator">
	<%= f.label :name, "Operator name" %>
	<%= f.text_field :name %>
	<span class="hint">The name and title of the operator for this area. Both will be displayed prominently on each page of your site.<span class="pointer">&nbsp;</span></span>

	<%= f.label :title, "Operator title" %>
	<%= f.text_field :title %>
	<% f.remove_link(image_tag("/images/buttons/remove.gif")) %>
</div>
