<div class="phone">
	<%= f.label :number, "Phone number" %>
	<%= f.text_field :number %>
	<% f.remove_link(image_tag("/images/buttons/remove.gif")) %>
	<span class="hint">Enter the main phone number for this area. This will be displayed prominently on each page of your site.<span class="pointer">&nbsp;</span></span>
</div>
