<table summary="Heaven's Best operator site plans" width="400px">
	<thead>
 	<tr>
		<td class="column1">Features</td>
		<th scope="col">Premium<br />$ 300/year</th>
		<th scope="col">Plus<br />$ 200/year</th>
		<th scope="col">Basic<br />$ 100/year</thth>
	</tr>	
	</thead>

	<tbody align="center">
 	<tr>
		<th scope="row" class="column1">Professionally Designed</th>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
	</tr>	
 	<tr class="even">
		<th scope="row" class="column1">Search Engine Optimized</th>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
	</tr>	
 	<tr>
		<th scope="row" class="column1">Adwords&#0153; Compatible</th>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
	</tr>	
 	<tr class="even">
		<th scope="row" class="column1">Area Information</th>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
	</tr>	
 	 <tr>
		<th scope="row" class="column1">Tips</th>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
	</tr>	
 	<tr class="even">
		<th scope="row" class="column1">Services</th>	
		<td>Unlimited</td>
		<td>Unlimited</td>
		<td>Up to 2</td>
	</tr>	
 	<tr>
		<th scope="row" class="column1">Testimonials</th>
		<td>Unlimited</td>
		<td>Unlimited</td>
		<td>Up to 3</td>
	</tr>	
 	<tr class="even">
		<th scope="row" class="column1">Online Evaluations</th>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td>Email only</td>
		<td>Email only</td>
	</tr>	
 	<tr>
		<th scope="row" class="column1">Area Email Address</th>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td>&nbsp;</td>
	</tr>	
 	<tr class="even">
		<th scope="row" class="column1">Site Statistics</th>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>	
 	<tr>
		<th scope="row" class="column1">Monthly Specials</th>
		<td><img src="/images/signup/plan-star.gif" alt="included" width="18" height="17" /></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
