<div class="grid_11">
<div id="grid12-top">&nbsp;</div>

<div id="grid12-middle">

<div class="indent20" style="width:400px">

	<h1><%= @page_title = "Cancel Subscription for #{h(@account.name)}" %></h1>

<!-- <h2>Another Option</h2>
<p>Instead of canceling your account, perhaps you'd like to just <%#= link_to "switch your plan", cancel_path %>.</p> -->
	<p>You are about to cancel your account. This will permanently delete all your billing information. However your area will become “inactive” meaning your data will remain in place if you decide to activate it again. Your login and password will also remain the same.</p>
	<br /><br />

	<h2>CANCEL CONFIRMATION</h2>
	<% form_tag :action => 'cancel' do %>
		<p><input type="checkbox" name="confirm" class="checkbox" value="1" />
			I really do want to cancel my subscription and permanently delete all billing data associated with this area.
			I understand that I can reactivate this area at a later time but only with new billing information.</p>
		
		<br />
	
		<%= link_to 'Back', :back %>
		<%= submit_tag "Cancel Subscription" %>
		<% image_submit_tag("/images/buttons/cancel_subscription.png", :class => 'button') %>
	<% end %>
</div>
</div>

<div id="grid12-bottom">&nbsp;</div>
</div>

<%= render :partial => @account %>