<div class="clear"></div>

<br />
<h1 class="indent20"><%= @page_title = 'Areas' %></h1>

<%= render :partial => @accounts %>

<div class="grid_5">
	<div class="top">&nbsp;</div>
	<div class="middle" style="height:102px">
		<br /><br />
		<h1><%= link_to('Add an area', new_operator_account_url) %></h1>
		<h1><% mail_to "support@heavensbest.us", "Add an area", :subject => "Add an area for #{current_user.name}", 
				:body => "Fill out the basic information about your area below to get started.

Area Information

Area Name:
Phone number:
Operator name:
Locations:
(city names and zip codes of your area)"%></h1>
	</div>
	<div class="bottom"></div>
</div>