<div class="clear"></div>

<br />
<h1 class="indent20"><%= @page_title = 'Areas' %></h1>

<%= render :partial => @accounts %>

<div class="grid_5">
	<div id="grid5-top">&nbsp;</div>
	<div id="grid5-middle" class="middle" style="height:144px">
		<br /><br />
		<h1><%= link_to('Add an area', new_operator_account_url) %></h1>
	</div>
	<div id="grid5-bottom"></div>
</div>