<div class="clear"></div>

<br />
<h1 class="indent20"><%= @page_title = 'Areas' %></h1>

<%= render :partial => @accounts %>

<div class="grid_5">
	<div class="top">&nbsp;</div>
	<div class="middle" style="height:132px">
		<br /><br />
		<h1><%= link_to('Add another area', new_operator_account_url) %></h1>
	</div>
	<div class="bottom"></div>
</div>