
/* Admin area select list */
#header select {
	float: right;
	position: relative;
	top:  25px;
	right: 50px;
	color: white;
}

/* @group Account navigation */
#account_navigation {
	float: right;
	position: relative;
	top:  15px;
	color: white;
}
#account_navigation ul {
	list-style: none;
}
#account_navigation li {
	float: right;
}
#account_navigation a {
	display: inline;
	text-decoration: none;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 12px;
	font-weight: bold;
}
#account_navigation > ul a {width: auto;}

#account_navigation a:hover {
	text-decoration: underline;
}
/* @end */


/* @group Operator Menubar */

#operator_menubar { margin: 18px auto; z-index: 9998; position: relative; top: 40px; }
#operator_menubar { margin: 0px; padding: 0; }
#operator_menubar li { display: inline;}
#operator_menubar li a { float: left; width: 100px; height: 0px; padding-top: 35px; overflow: hidden; }
#operator_menubar li a.home, #operator_menubar li a.settings { width: 103px; }
#operator_menubar li a { background-image: url(/assets/nav/operator_menubar.png); background-repeat: no-repeat;}

 /*BUTTONS*/ 
#operator_menubar li a.home { background-position: 0px 0px; }
#operator_menubar li a.services { background-position: -103px -0px; }
#operator_menubar li a.specials { background-position: -203px -0px; }
#operator_menubar li a.testimonials { background-position: -303px -0px; }
#operator_menubar li a.settings { background-position: -403px -0px; }

/* OVER STATES */
#operator_menubar li a:hover.home { background-position: 0px -35px;}
#operator_menubar li a:hover.services { background-position: -103px -35px; }
#operator_menubar li a:hover.specials { background-position: -203px -35px; }
#operator_menubar li a:hover.testimonials { background-position: -303px -35px; }
#operator_menubar li a:hover.settings { background-position: -403px -35px; }

/* PRESSED STATES */
#operator_menubar li a.current.home { background-position: 0px -70px; }
#operator_menubar li a.current.services { background-position: -103px -70px; }
#operator_menubar li a.current.specials { background-position: -203px -70px; }
#operator_menubar li a.current.testimonials { background-position: -303px -70px; }
#operator_menubar li a.current.settings { background-position: -403px -70px; }
/* @end */

/* @group Area Menubar */

#area_menubar { margin: 18px auto; z-index: 9998; position: absolute; left: 275px; top: 25px; }
#area_menubar { margin: 0px; padding: 0; }
#area_menubar li { display: inline;}
#area_menubar li a { float: left; width: 100px; height: 0px; padding-top: 35px; overflow: hidden; }
#area_menubar li a.home, #area_menubar li a.schedule { width: 103px; }
#area_menubar li a { background-image: url(/assets/nav/area_menubar.png); background-repeat: no-repeat;}

 /*BUTTONS*/ 
#area_menubar li a.home { background-position: 0px 0px; }
#area_menubar li a.services { background-position: -103px 0px; }
#area_menubar li a.specials { background-position: -203px 0px; }
#area_menubar li a.testimonials { background-position: -303px 0px; }
#area_menubar li a.schedule { background-position: -403px 0px; }

/* OVER STATES */
#area_menubar li a:hover.home, #area_menubar li a:hover.current.home { background-position: 0px -35px;}
#area_menubar li a:hover.services { background-position: -103px -35px; }
#area_menubar li a:hover.specials { background-position: -203px -35px; }
#area_menubar li a:hover.testimonials { background-position: -303px -35px; }
#area_menubar li a:hover.schedule { background-position: -403px -35px; }

/* CURRENT STATES */
#area_menubar li a.current.home { background-position: 0px 0px; }
#area_menubar li a.current.services { background-position: -103px -70px; }
#area_menubar li a.current.specials { background-position: -203px -70px; }
#area_menubar li a.current.testimonials { background-position: -303px -70px; }
#area_menubar li a.current.schedule { background-position: -403px -70px; }

/* @end */



/* @group Homepage Navigation */

.nav {
	width: 520px;
	height: 46px;
	background: url(/assets/nav/homemenu.png) no-repeat;
	position: absolute; 
	top: 25px; 
	left: 280px
}
.nav li {
	display: inline;
}
.nav li a:link, .nav li a:visited {
	position: absolute;
	top: 0;
	height: 45px;
	text-indent: -9000px;
	overflow: hidden;
	z-index: 10;
}

/* @group Home */

	.nav .home a:link, .nav .home a:visited {
		width: 110px;
	}
	.nav .home a:hover, .nav .home a:focus {
		background: url(/assets/nav/homemenu.png) no-repeat -0px -46px;
	}
	.nav .home a:active {
		background: url(/assets/nav/homemenu.png) no-repeat -0px -86px;
	}
	.current-home .home a:link, .current-home .home a:visited {
		background: url(/assets/nav/homemenu.png) no-repeat -0px -126px;
		cursor: default;
	}
	.nav-home, .nav-home-click {
		position: absolute;
		top: 0;
		left: 0px;
		width: 110px;
		height: 46px;
		background: url(/assets/nav/homemenu.png) no-repeat -0px -46px;
	}
	.nav-home-click {
		background: url(/assets/nav/homemenu.png) no-repeat -0px -86px;
	}

/* @end */

/* @group Locations */

	.nav .locations a:link, .nav .locations a:visited {
		left: 110px;
		width: 100px;
	}
	.nav .locations a:hover, .nav .locations a:focus {
		background: url(/assets/nav/homemenu.png) no-repeat -110px -46px;
	}
	.nav .locations a:active {
		background: url(/assets/nav/homemenu.png) no-repeat -110px -86px;
	}
	.current-locations .locations a:link, .current-locations .locations a:visited {
		background: url(/assets/nav/homemenu.png) no-repeat -110px -126px;
		cursor: default;
	}
	.nav-locations, .nav-locations-click {
		position: absolute;
		top: 0;
		left: 110px;
		width: 100px;
		height: 46px;
		background: url(/assets/nav/homemenu.png) no-repeat -110px -46px;
	}
	.nav-locations-click {
		background: url(/assets/nav/homemenu.png) no-repeat -110px -86px;
	}

/* @end */

/* @group Services */

	.nav .services a:link, .nav .services a:visited {
		left: 210px;
		width: 100px;
	}
	.nav .services a:hover, .nav .services a:focus {
		background: url(/assets/nav/homemenu.png) no-repeat -210px -46px;
	}
	.nav .services a:active {
		background: url(/assets/nav/homemenu.png) no-repeat -210px -86px;
	}
	.current-services .services a:link, .current-services .services a:visited {
		background: url(/assets/nav/homemenu.png) no-repeat -210px -126px;
		cursor: default;
	}
	.nav-services, .nav-services-click {
		position: absolute;
		top: 0;
		left: 210px;
		width: 100px;
		height: 46px;
		background: url(/assets/nav/homemenu.png) no-repeat -210px -46px;
	}
	.nav-services-click {
		background: url(/assets/nav/homemenu.png) no-repeat -210px -86px;
	}

/* @end */

/* @group Testimonials */

	.nav .testimonials a:link, .nav .testimonials a:visited {
		left: 310px;
		width: 100px;
	}
	.nav .testimonials a:hover, .nav .testimonials a:focus {
		background: url(/assets/nav/homemenu.png) no-repeat -310px -46px;
	}
	.nav .testimonials a:active {
		background: url(/assets/nav/homemenu.png) no-repeat -310px -86px;
	}
	.current-testimonials .testimonials a:link, .current-testimonials .testimonials a:visited {
		background: url(/assets/nav/homemenu.png) no-repeat -310px -126px;
		cursor: default;
	}
	.nav-testimonials, .nav-testimonials-click {
		position: absolute;
		top: 0;
		left: 310px;
		width: 100px;
		height: 46px;
		background: url(/assets/nav/homemenu.png) no-repeat -310px -46px;
	}
	.nav-testimonials-click {
		background: url(/assets/nav/homemenu.png) no-repeat -310px -86px;
	}


/* @end */

/* @group Franchises */

	.nav .franchises a:link, .nav .franchises a:visited {
		left: 410px;
		width: 110px;
	}
	.nav .franchises a:hover, .nav .franchises a:focus {
		background: url(/assets/nav/homemenu.png) no-repeat -410px -46px;
	}
	.nav .franchises a:active {
		background: url(/assets/nav/homemenu.png) no-repeat -410px -86px;
	}
	.current-franchises .franchises a:link, .current-franchises .franchises a:visited {
		background: url(/assets/nav/homemenu.png) no-repeat -410px -126px;
		cursor: default;
	}
	.nav-franchises, .nav-franchises-click {
		position: absolute;
		top: 0;
		left: 410px;
		width: 110px;
		height: 46px;
		background: url(/assets/nav/homemenu.png) no-repeat -410px -46px;
	}
	.nav-franchises-click {
		background: url(/assets/nav/homemenu.png) no-repeat -410px -86px;
	}
/* @end */


/* @end */