<h1><%= @page_title = 'Edit User' %></h1>

<% form_for [:admin, @user], :url => { :action => 'update' }, :html => { :method => :put } do |f| %>
	<%= f.error_messages %>
 	<%= render :partial => "form", :locals => { :f => f } %>
<% end -%>
