<div class="clear"></div>
<div id="grid16-top" class="indent10">&nbsp;</div>

<div id="grid16-middle" class="indent10">
	<h1 class="indent20"><%= @page_title = 'Edit User Information' %></h1>

	<% form_for [:admin, @user], :url => { :action => 'update' }, :html => { :method => :put } do |f| %>
		<%= f.error_messages %>
	 	<%= render :partial => "user", :locals => { :f => f } %>
	<% end -%>
</div>

<div id="grid16-bottom" class="indent10">&nbsp;</div>
