<% title "Customer Testimonials" %>

<div id="welcome"><h1>Satisfied Customers a Plenty!</h1></div>


<% for testimonial in @testimonials %>
	<div class="testimonial grid_5">
		<div class="grid5-top">&nbsp;</div>
		<div class="grid5-middle middle"><p><%= testimonial.quote %></p></div>
		<div class="testimonial-bottom"></div>
		<span class="name"><%= testimonial.name %></span>
		<span class="location">in <%= testimonial.location %></span>
	</div>
<% end %>

<div class="clear"></div>

<br /><br />
