<div id="welcome">
	Welcome to Heaven's Best Carpet Cleaning!</div>

<div id="frontpage">
	<div id="intro" class="grid_10 prefix_1">	
		<p> Heaven's Best is a world leader in carpet cleaning, upholstery cleaning, and carpet cleaning franchise opportunities. Our unique "dry in one hour" process yields exceptional results and greatly reduces typical carpet cleaning dry times. Heaven's Best carpet cleaning experts can tackle the toughest stains and dirt leaving your carpets clean and renewed.</p>
		<img src="/images/content/furniture/testcouch.jpg">
	</div>	
	
	<div id="search" class="grid_5 ">
		<h2>Find Your Local Operator</h2>
		<p><q>Enter your zip code or city name</q></p>
		
		<%= text_field_with_auto_complete :account, :locations, { :size => 20 }, :skip_style => true, 
			:method => :get, :auto_complete => :off, :with => "Object.toQueryString({search: element.value})" %>
		<% submit_tag "Go" %>
	</div>
	
	
</div>

<div id="cards">
	
	<div id="tips" class="grid_5 blur">
		<h2><%= Tip.random.title %></h2>
			<%= simple_format(Tip.random.body) %>
	</div>

	<div id="ad" class="grid_6 blur">
		<% link_to(image_tag("/images/content/franchise_ad.gif"), 
		"http://heavensbest.com/index.php?&pr=Take_Control", :popup => true) %>
	</div>
	
	<div id="testimonials" class="grid_5">
		<div class="testimonial">
			<div class="top">&nbsp;</div>
			<div class="middle" style="height:93px">In hac habitasse platea dictumst. Proin eleifend leo. Quisque et purus.
				Aliquam ipsum. Sed pulvinar, egestas non. Volutpat at, egestas non, tellus. odio malesuada gravida</div>
			<div class="bottom"></div>
			<span class="name">Jennifer Anniston</span>
			<span class="location">in Hollywood, CA</span>
		</div>
	</div>

</div>
<div class="clear"></div>