<% title "Home" %>

<div id="welcome"><h1>Welcome to Heaven's Best in <%=h @account.name %>!</h1></div>

<div id="homepage">
	<div class="grid_7 prefix_1">	
		<h2>Carpet Cleaning</h2>
		<p> Heaven’s Best "dry in one hour" carpet cleaning removes soil and stains that other cleaners leave behind. First, our powerful dry vacuum system removes the loose soil. Our exclusive cleaning solution then penetrates carpet fibers and gently loosens trapped soil and stains. Next, our powerful buffer, specially designed with absorbent pads, gently lifts away soil and moisture. Finally, we groom the carpet fibers to look and feel like new.</p><br />
		<p>Call today to schedule an appointment or a free estimate.</p>
		<img src="/images/content/carpet.jpg" alt="dog on carpet" />
	</div>
	<div class="grid_7 suffix_1">	
		<h1>Upholstery Cleaning</h1>
		<p> Heaven's Best has the expertise to clean virtually every type of upholstery fabric. We carefully inspect the fabric and construction of each piece before selecting the cleaning technique best suited to the material. Our unique cleaning solution is formulated to provide the safest, most effective cleaning available to extend the life of your investment.</p><br />
		<p>Call today to schedule an appointment or a free estimate.</p>
		<img src="/images/content/upholstery.jpg" alt="couch" />
	</div>
</div>
<div class="clear"></div>

<div id="cards">
	<%= render :partial => "shared/cards" %>
</div>

<div class="clear"></div>